<html>
  <head>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/jquery.simulate.js"></script>
    <script src="vendor/jquery.simulate.ext.js"></script>
    <script src="vendor/jquery.simulate.drag-n-drop.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="./angular-legacy-sortable.js"></script>

    <script src="exampleApp.js"></script>

    <style>
      ul {
        list-style-type: none;
        margin: 10px;
        width: 350px;
        padding: 10px;
        border: 2px dashed pink;
      }

      li {
        display: block;
        background-color: pink;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 4px;
        color: white;
      }
    </style>
  </head>

  <body ng-app="exampleApp" ng-controller="Controller as $ctrl">
    <ul id="list1" wisboo-sortable="$ctrl.sortableConf" ng-model="$ctrl.list1">
      <li ng-repeat="item in $ctrl.list1">
        | ## {{ item }}
      </li>
    </ul>
    <ul id="list2" wisboo-sortable="$ctrl.sortableConf2" ng-model="$ctrl.list2">
      <li ng-repeat="item in $ctrl.list2">
        | ** {{ item }}
      </li>
    </ul>
  </body>
</html>
